{% extends 'baseAdmin.html' %}
{% block content %}
{% load static %}
<div class="tituloLista">
    <h2>AGREGAR ENCARGADO</h2>
</div>
<div id="menuContainer">
    {{error}}
    <form action="" method="POST">
        {% csrf_token %}

        {{form.as_p}}
        <button class="botonEstandar btn167">
            <span class="letraEstandar">ACEPTAR</span>
        </button>
        <a href="{{request.META.HTTP_REFERER}}">
            <button class="botonEstandar btn167">
              <span class="letraEstandar">Volver</span>
            </button>
        </a>
</div>
{% endblock content %}