{% extends 'baseAdmin.html' %}
{% block content %}
{% load static %}
<div class="tituloLista">
    <h2>ASIGNACIÓN DE INSPECCIONES</h2>
</div>
<div id="listaGeneralContainer">
    {% for area in areas %}
    <div class="cardEstandar" action="elementoInfoAdmin">
        <div class="cardImg">
            <image class="imageList" src={{area.imagen1.url}} alt="imagen des teatro nacional">
        </div>
        <div class="cardInfo">
            <div class="filaCard"><span>Código: {{area.codigo}}</span></div>
            <div class="filaCard"><span>Nombre: {{area.nombre}}</span></div>
            <div class="filaCard"><span>Piso: {{area.ubicacion}}</span></div>
            <div class="filaCard">
                <form action="preAsignacionTrabajo/{{area.id}}">
                    {% csrf_token %}
                    <button class="botonEstandar btnListasCard">Asignar inspeccion</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock content %}