{% extends 'baseAdmin.html' %}
{% block content %}
{% load static %}
<div class="tituloLista">
  <h2>EDITAR AGENTE DETERIORO</h2>
</div>
<div class="formularioContainer4">
  {{error}}
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.media}}
    {{form.as_p}}
    <button class="botonEstandar btn167">
      <span class="letraEstandar">ACEPTAR</span>
    </button>
  </form>
  <a href="{{request.META.HTTP_REFERER}}">
    <button class="botonEstandar btn167">
      <span class="letraEstandar">VOLVER</span>
    </button>
  </a>
</div>

{% endblock content %}