{% extends 'baseAdmin.html' %}
{% block content %}
{% load static %}
<div class="tituloLista">
    <h2>ENCARGADOS</h2>
</div>
<div id="listaGeneralContainer">
    {% for usuario in encargados %}
    <div class="cardEstandar" action="elementoInfoAdmin">
        <div class="cardInfo">
            <div class="filaCard"><span>Nombre: {{usuario.nombre}}</span></div>
            <div class="filaCard"><span>Email: {{usuario.email}}</span></div>
            <div class="filaCard"><span>Teléfono: {{usuario.telefono}}</span></div>
            <div class="filaCard"><span>Identificación: {{usuario.identificacion}}</span></div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock content %}