{% extends 'baseAdmin.html' %}
{% block content %}

<div id="menuContainer">
    <h2 id="tituloMenu">MENÚ</h2>
    <form action="listaAreas/">
        <button class="botonEstandar bma">ÁREAS Y ELEMENTOS</button>
    </form>
    <form action="verAgentesDeterioro/">
        <button class="botonEstandar bma">AGENTES DE DETERIORO</button>
    </form>
    <form action="asignacionTrabajoLista/">
        <button class="botonEstandar bma">ASIGNACIÓN DE INSPECCIONES</button>
    </form>
    <form action="listInspeccion/">
        <button class="botonEstandar bma">INSPECCIONES ASIGNADAS</button>
    </form>
    <form action="listEncargados/">
        <button class="botonEstandar bma">ENCARGADOS</button>
    </form>
    <a class="nav-link" href="{% url 'menuReportes' %}">
        <button class="botonEstandar bma">REPORTES</button>
    </a>
</div>

{% endblock content %}