{% extends 'baseAdmin.html' %}
{% block content %}

<div id="menuContainer">
    <h2 id="tituloMenu">REPORTES DE DIRECCION</h2>

    <a class="nav-link" href="{% url 'areas_pdf' %}">
        <button class="botonEstandar bma">REPORTE ÁREAS Y ELEMENTOS</button>
    </a>
    <a class="nav-link" href="{% url 'agentes_pdf' %}">
        <button class="botonEstandar bma">REPORTE AGENTES DE DETERIORO</button>
    </a>
    <a class="nav-link" href="{% url 'encargados_pdf' %}">
        <button class="botonEstandar bma">REPORTE ENCARGADOS</button>
    </a>
    <a class="nav-link" href="{% url 'reporteInspeccion' %}">
        <button class="botonEstandar bma">REPORTE ESTADO INSPECCIONES</button>
    </a>
    <a class="nav-link" href="">
        <button class="botonEstandar bma">GRAFICO DE INSPECCIONES POR ESTADO</button>
    </a>
    <a class="nav-link" href="">
        <button class="botonEstandar bma">GRAFICO DE INSPECCIONES DE ENCARGADO</button>
    </a>
</div>

{% endblock content %}