{% extends 'baseAdmin.html' %}
{% block content %}

<div id="menuContainer">
    <h2 id="tituloMenu">MENÚ</h2>
    <form action="listaAreas/">
        <button class="botonEstandar bma">ÁREAS Y ELEMENTOS</button>
    </form>
    <form action="verAgentesDeterioro/">
        <button class="botonEstandar bma">AGENTES DE DETERIORO</button>
    </form>
    <form action="asignacionTrabajo/">
        <button class="botonEstandar bma">ASIGNACIÓN DE TRABAJOS</button>
    </form>
    {% comment %} <button class="botonEstandar bma">INSPECCIONES</button> {% endcomment %}
    <form action="verAgentesDeterioro">
        <button class="botonEstandar bma">ENCARGADOS</button>
    </form>
    <button class="botonEstandar bma">REPORTES</button>
</div>

{% endblock content %}