{% extends 'baseOperario.html' %}
{% block content %}
{% load static %}
<div class="tituloLista">
    <h2>TRABAJOS</h2>
</div>

<div id="listaGeneralContainer">
    {% for inspeccion in inspecciones %}
    <div class="cardEstandar" action="elementoInfoAdmin">
        <div class="cardInfo marginAuto">
            <div class="filaCard"><span>Codigo: {{inspeccion.codigo}}</span></div>
            <div class="filaCard"><span>Resultado: {{inspeccion.tResultado}}</span></div>
            <div class="filaCard"><span>Area: {{inspeccion.area}}</span></div>
            <div class="filaCard"><span>Fecha Inicio: {{inspeccion.fechaInicio}}</span></div>
            <div class="filaCard"><span>Fecha Fin: {{inspeccion.fechaFin}}</span></div>
            <div class="filaCard"><span>Estado: {{inspeccion.tEstado}}</span></div>
            <div class="filaCard"><span>Encargado: {{inspeccion.encargado}}</span></div>

            <div class="filaCard fila_rowR">

            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock content %}