{% extends 'baseOperario.html' %}
{% block content %}
{% load static %}
<div class="tituloLista">
    <h2>INSPECCIONES</h2>
</div>

<div id="listaGeneralContainer">
    {% for inspeccion in inspecciones %}
    <div class="cardEstandar" action="elementoInfoAdmin">
        <div class="cardInfo marginAuto">
            <div class="filaCard"><span>Codigo: {{inspeccion.codigo}}</span></div>
            <div class="filaCard"><span>Area: {{inspeccion.area}}</span></div>
            <div class="filaCard"><span>Fecha Inicio: {{inspeccion.fechaInicio}}</span></div>
            <div class="filaCard"><span>Fecha Fin: {{inspeccion.fechaFin}}</span></div>
            <div class="filaCard"><span>Estado: {{inspeccion.tEstado}}</span></div>
            <div class="filaCard"><span>Encargado: {{inspeccion.encargado}}</span></div>
            <div class="filaCard">
                <form action="inspeccionInfo/{{inspeccion.id}}" method="post">
                    {% csrf_token %}
                    <button class="botonEstandar btnListasCard">Ver Detalles</button>
                </form>
            </div>

        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock content %}