{% extends 'baseAdmin.html' %}
{% block content %}
{% load static %}
<div class="tituloLista">
    <h2>AGENTES DETERIORO</h2>
</div>
<div id="listaGeneralContainer">
    {% for agente in agentes %}
    <div class="cardEstandarMini    " action="elementoInfoAdmin">
        <div class="cardInfo">
            <div class="filaCard"><span>Código: {{agente.codigo}}</span></div>
            <div class="filaCard"><span>Nombre: {{agente.nombre}}</span></div>
            <div class="filaCard"><span>Indole: {{agente.ubicacion}}</span></div>
            <div class="filaCard">
                <form action="areasInfoAdmin/{{area.id}}" method="post">
                    {% csrf_token %}
                    <button class="botonEstandar btnListasCard">Asignar trabajo</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>

{% endblock content %}